* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Overpass", sans-serif;
    color: rgb(255, 255, 255);
}

body {
    background: rgb(11, 22, 37);
}
.svg {
    display: block;
    margin: auto;
    padding-bottom: 20px;
}

.rates {
    display: inline-block;
    margin: auto;
    text-align: center;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: rgba(124, 135, 152, 0.3);
    color: rgb(251, 116, 19);
}

.thank-you {
    margin: auto;
    margin-top: 20px;
    text-align: center;
    width: 400px;
    padding: 40px;
    background: rgb(22, 37, 54);
    border-radius: 20px;
}

.bold {
    text-align: center;
    padding: 20px 0;
}























.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }